//
// Colors
//
//#bc7296

// General
$primary: #5E3E7B;
$secondary: #a66faf;
// Text
$headings-color: #7F4289;
$body-color: #C4B1E1;
//
// Typography
//

// Fonts
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900|Yeseva+One&display=swap");
$font-family-base: "Poppins", sans-serif;
$headings-font-family: "Yeseva One", cursive;

// Size
$font-size-base: 1.125rem; // 18px
$h1-font-size: 40px;
$h2-font-size: 35px;
$h3-font-size: 30px;
$h4-font-size: 25px;
$h5-font-size: 20px;
$h6-font-size: 10px;

// Spacing
$headings-margin-bottom: 1.5rem;
$line-height-base: 1.75;

// Misc
$link-hover-decoration: none;
