{{ define "main" }}

<header class="breadCrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-12 offset-lg-1 offset-md-0 text-center">
        <h3 class="breadCrumb__title">{{ .Title }}</h3>
        <nav aria-label="breadcrumb" class="d-flex justify-content-center">
          <ol class="breadcrumb align-items-center">
            <li class="breadcrumb-item"><a href={{ .Site.BaseURL }}>Home</a></li>
            <li class="breadcrumb-item"><a href={{ .Site.Params.blogPageURL | absURL }}>All Posts</a></li>
            <li class="breadcrumb-item"><a href={{ .Site.BaseURL }}/tags>All Tags</a></li>
          </ol>
        </nav>
      </div>
    </div>

    <ul class="post-meta">
      <li>
        <i class="fa fa-calendar"></i>
        {{ .PublishDate.Format "January 2, 2006" }}
      </li>
      <li>
        <i class="fa fa-clock-o"></i>
        {{ .ReadingTime }} mins read
      </li>
      <li>
        <i class="fa fa-user"></i>
        {{ .Params.author }}
      </li>
    </ul>
    <ul class="post-meta">
      </li>
      {{ if .Params.tags }}
      <li>
        <i class="fa fa-tag"></i>
        {{ range (.GetTerms "tags") }}
          <a class="text-lowercase" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
        {{ end }}
      </li>
      {{ end }}
    </ul>
  </div>
  </div>
  </div>
  </div>
</header>

<section class="section singleBlog">
  <div class="svg-img">
    <img src={{ "images/hero/hero-background-svg.svg" | absURL }} alt="">
  </div>
  <div class="animate-shape">
    <img src={{ "images/skill/skill-background-shape.svg" | absURL }} alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="singleBlog__feature">
          <img src={{ .Params.postImage | absURL }} alt="feature-image">
          <center><figcaption style="font-size: 10px; margin-top: 20px;"> {{ .Params.caption }} </figcaption></center>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-12">
        <div class="singleBlog__content">

          {{ if .Params.toc }}
            <h3>Table of Contents</h3>
            {{ .TableOfContents | replaceRE "<ul>[[:space:]]*<li>[[:space:]]*<ul>" "<ul>" | replaceRE "</ul>[[:space:]]*</li>[[:space:]]*</ul>" "</ul>" |  safeHTML }}
          {{ end }}

          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}